@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h1>State Management</h1>
<a asp-controller="StateManagement" asp-action="javascript">Clienttan arttır Javascrtipt</a>

<br />
<a asp-controller="StateManagement" asp-action="oturum">Statemanagement Session</a>
<br />
<a asp-controller="StateManagement" asp-action="Kuki">Statemanagement Cookie</a>

<hr />
<h1>Ajax</h1>
<a asp-controller="Ajax" asp-action="Index">Detay</a>




